<div *ngIf="!isPurchaseComplete">
    <div><label>Item name : </label><input name="name" value="{{name}}" [(ngModel)]="name"></div>
    <div><label>Item price : </label><input name="price" value="{{price}}" [(ngModel)]="price"></div>
    <div><label>Item currency : </label><input name="currency" value="{{currency}}" [(ngModel)]="currency"></div>
    <div><label>Item date : </label><input name="date" value="{{date}}" [(ngModel)]="date"></div>
</div>

<div class="paragraph" *ngIf="isPurchaseComplete">
    <div *ngIf="isSuccess" class="success">{{successMessage}}</div>
    <div *ngIf="!isSuccess" class="error">{{errorMessage}}</div>
</div>

<button *ngIf="!isPurchaseComplete" (click)="addPurchase()">Add purchase</button>

<button *ngIf="isPurchaseComplete" (click)="addNewPurchase()">Add new purchase</button>

<div class="paragraph">
        <textarea readonly="true">{{textAreaSampleInput}}</textarea>
</div>

<div *ngIf="!isPurchaseComplete" class="paragraph">
    <textarea [(ngModel)]="importFromTextArea"></textarea>
</div>

<button *ngIf="!isPurchaseComplete" (click)="doImportFromTextArea()">Import and add purchases</button>