<div class="main-menu-div centered-at-90-percent">
  <button class="button-undercover button-menu centered-at-90-percent" *ngIf="!isUserLoggedIn"><a routerLink="/login">Login</a></button>
  <button class="button-undercover button-menu centered-at-90-percent"><a routerLink="/view-statistics">View Purchases</a></button>
  <button class="button-undercover button-menu centered-at-90-percent"><a routerLink="/add-purchase">Log a new purchase</a></button>
  <button class="button-undercover button-menu centered-at-90-percent" *ngIf="isUserLoggedIn"><a routerLink="/logout">Logout</a></button>
</div>

<div class="main-body-div centered-at-90-percent">
  <router-outlet></router-outlet>
</div>
