<label>Purchase details :</label>
<p>
  {{name}} {{price}} {{currency}} {{date}}
</p>

<br>
<br>
<label>The following are 1 way bound.</label>
<div><label>Item name : </label><input name="name" value="{{name}}"></div>
<div><label>Item price : </label><input name="price" value="{{price}}"></div>
<div><label>Item currency : </label><input name="currency" value="{{currency}}"></div>
<div><label>Item date : </label><input name="date" value="{{date}}"></div>

<br>
<br>
<label>The following are 2 way bound.</label>
<div><label>Item name : </label><input name="name" value="{{name}}" [(ngModel)]="name"></div>
<div><label>Item price : </label><input name="price" value="{{price}}" [(ngModel)]="price"></div>
<div><label>Item currency : </label><input name="currency" value="{{currency}}" [(ngModel)]="currency"></div>
<div><label>Item date : </label><input name="date" value="{{date}}" [(ngModel)]="date"></div>
<br>
<br>
